.nav{
    margin-bottom: 10px;
    text-align: right;
    margin-top: 0;
}
body{
    background-color: black;
    color: white;
}
.Home{
    display:inline-block;
    padding: 10px;
    border: white solid;
    border-radius:25px;
    margin-left:10px;
    color: white;
}
.me{
    display:inline-block;
    padding: 10px;
    border: white solid;
    border-radius:25px;
    margin-left:10px;
    color: black;
    background-color: white;
}
.me:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    animation: pulse 1500ms infinite;
}
.ABOUT{
    display: inline-block;
    padding: 10px;
    border: white solid;
    
    border-radius:25px;
    margin-left:10px;
    color: white;
}
.pics{
    display: inline-block;
    padding: 10px;
    border: white solid;
    border-radius:25px;
    margin-left:10px;
    color: white;
}
 
.proj{
    display: inline-block;
    padding: 10px;
    border: white solid;
    
    border-radius:25px;
    margin-left:10px;
    color: white;
}
.Home:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    animation: pulse 1500ms infinite;
}
.container{
    float:left;
    color: white;
    font-size: x-large;
    padding-left: 30px;
    text-align: center;
    width: 500px;
    height: 500px;
}
span{
    color: yellow;
}
.ABOUT:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    animation: pulse 1500ms infinite;
}
@keyframes pulse {
    0%{
        box-shadow: white 0 0 0 0 ;
    }
    75%{
        box-shadow: #0072ff00 00 0 100px;
    }
}
.proj:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    animation: pulse 1500ms infinite;
}
.pics:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    animation: pulse 1500ms infinite;
}
.para{
    font-size: x-large;
}
.resume{
    border: white solid 3px;
    width: 150px;
    height: 25px;
    color:white;
    justify-content: center;
    text-align: center;
    border-radius:35px ;
    margin-left: 45%;
    font-size: larger;
}
.resume:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}